<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
      <add key="SearchServiceName" value="mmimagesearch"/>
      <add key="SearchServiceAdminApiKey" value="F4729E03D7112DE2EFF665642C284D23"/>
   </appSettings>
</configuration>